<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlet_login</servlet-name>
    <servlet-class>com.tom.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_login</servlet-name>
    <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet_query</servlet-name>
    <servlet-class>com.tom.Query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_query</servlet-name>
    <url-pattern>/servlet/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet_addLog</servlet-name>
    <servlet-class>com.tom.AddLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_addLog</servlet-name>
    <url-pattern>/servlet/addlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showData</servlet-name>
    <servlet-class>com.tom.ShowData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showData</servlet-name>
    <url-pattern>/servlet/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newEquip</servlet-name>
    <servlet-class>com.tom.NewEquip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newEquip</servlet-name>
    <url-pattern>/servlet/newequip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BarcodeServlet</servlet-name>
    <servlet-class>com.tom.BarcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BarcodeServlet</servlet-name>
    <url-pattern>/barcode</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>code</filter-name>
    <filter-class>com.tom.NewEquip</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <servlet>
    <description></description>
    <display-name>Print</display-name>
    <servlet-name>Print</servlet-name>
    <servlet-class>com.tom.Print</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Print</servlet-name>
    <url-pattern>/print</url-pattern>
  </servlet-mapping>
</web-app>